.c-mlo-search
  .c-mlo-search__header 
    %h1 Search
  .c-mlo-search__sub-heading Find a mortgage loan officer in your area.
  .c-mlo-search__search-wrap
    .c-mlo-search__search-info Enter city, county, zip or loan officer name
    .c-search
      %input.c-search__input{ type: 'text' }
      %i.c-search__icon.td-icon.td-icon-search
  .c-mlo-search__list-wrap
    %i.td-icon.td-icon-avatar.c-mlo-search__mlo-avatar
    .c-mlo-search__details
      .c-mlo-search__mlo-name
        %h2.c-mlo-search__mlo-name H2 - TD Graphik Light
        .c-mlo-search__nmls.f-sm Nmls number
      .c-mlo-search__mlo-info Body Copy - WeblySleek UI Semilight
      .c-mlo-search__contact
        %i.td-icon.td-icon-contactUs
        %span.c-mlo-search__phone (345) 234-1234 
      .c-mlo-search__contact
        %i.td-icon.td-icon-email
        %span.c-mlo-search__email sallymonica@tdbank.com
    %i.td-icon.td-icon-arrowRight.c-mlo-search__arrow
  .c-mlo-search__list-wrap
    %i.td-icon.td-icon-avatar.c-mlo-search__mlo-avatar
    .c-mlo-search__details
      .c-mlo-search__mlo-name
        %h2.c-mlo-search__mlo-name H2 - TD Graphik Light
        .c-mlo-search__nmls.f-sm Nmls number
      .c-mlo-search__mlo-info Body Copy - WeblySleek UI Semilight
      .c-mlo-search__contact
        %i.td-icon.td-icon-contactUs
        %span.c-mlo-search__phone (345) 234-1234 
      .c-mlo-search__contact
        %i.td-icon.td-icon-email
        %span.c-mlo-search__email sallymonica@tdbank.com
    %i.td-icon.td-icon-arrowRight.c-mlo-search__arrow
      

