.c-mlo-detail
  .c-mlo-detail__deatils
    .c-mlo-detail__pic
      %i.td-icon.td-icon-avatar
    .c-mlo-detail__info
      %h2 H2 - TD Graphik Light
      .c-mlo-detail__title Body Copy - WeblySleek UI Semilight
      .c-mlo-detail__nmls.f-sm Nmls number
      .c-mlo-detail__contact
        %i.td-icon.td-icon-contactUs
        %span.c-mlo-detail__icon Body Copy - WeblySleek UI Semilight
      .c-mlo-detail__contact
        %i.td-icon.td-icon-contactUs
        %span.c-mlo-detail__icon Body Copy - WeblySleek UI Semilight
      .c-mlo-detail__contact
        %i.td-icon.td-icon-email
        %span.c-mlo-detail__icon Body Copy - WeblySleek UI Semilight
      .c-mlo-detail__contact
        %i.td-icon.td-icon-mapMarkerFilled
        %span.c-mlo-detail__icon Body Copy - WeblySleek UI Semilight 
        .c-mlo-detail__address2 Body Copy - WeblySleek UI Semilight
  .row.c-mlo-detail__btn-row
    .btn.btn--primary.c-mlo-detail__button Button
    .btn.btn--secondary-clear.c-mlo-detail__button Button
  .c-mlo-detail__bio 
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.