.m-4
  %h1 H1 Heading
  %hr
.m-4
  %h2 H2 Heading
  %hr
.m-4
  %h3 H3 Heading
  %hr
-# .m-4
-#   %h4 H4 Heading
-#   %hr
-# .m-4
-#   %h5 H5 Heading
-#   %hr
-# .m-4
-#   %h6 H6 Heading
-#   %hr
-# .m-4
-#   .f-lg Body Text Large .f-lg
-#   %hr
.m-4
  .f-sm Small Body .f-sm
  %hr
.m-4
  %p Body Copy
  %hr
-# .m-4
-#   .f-xs Body Text Extra Small .f-xs
-#   %hr
-# .m-4
-#   %a{href: "#"} Body Text Link
-#   %hr
-# .m-4
-#   .emphasis Emphasis Text .emphasis
-#   %hr
-# .m-4
-#   .bold Bold .bold
-#   %hr
-# .m-4
-#   .semibold Semibold .semibold
-#   %hr
-# .m-4
-#   .disclaimer-text Disclaimer Text .disclaimer-text
-#   %hr
-# %h1 Brand Text
-# .m-4
-#   .brand.brand--lg Brand Text Large .brand--lg
-#   %hr
-# .m-4
-#   .brand Brand Text .brand
-#   %hr
-# .m-4
-#   .brand.brand--sm Brand Text Small .brand--sm
-#   %hr
-# %h1 Time Stamp
-# .m-4
-#   .time-stamp Time stamp .time-stamp
-#   %hr
-# .m-4
-#   .time-stamp.time-stamp--sm Time stamp Small .time-stamp--sm
-#   %hr
-# .m-4
-#   .time-stamp.time-stamp--primary Time stamp Primary .time-stamp--primary
-#   %hr
-# .m-4
-#   .time-stamp.time-stamp--secondar Time stamp seconary .time-stamp--secondary
-#   %hr
