<!DOCTYPE html>
<html>
<head>
  <title>Mlo</title>

  <%= stylesheet_link_tag    "mlo/application", media: "all" %>
  <%= javascript_include_tag "mlo/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
