//
// Body
// --------------------------------------------------

// body {
// 	color: $tundora;
// 	font-family: Roboto;
// 	font-size: 1rem;
// 	line-height: 1.5;
//   color: $tundora;
// }

body {
	font-family: 'WeblySleek UI Semilight';
	font-size: 1rem;
  line-height: 1.375;
  color: #1c1c1c;
}

//
// Form (note we should move this)
// --------------------------------------------------
// input::-webkit-input-placeholder,
// input::-moz-placeholder,
// input:-ms-input-placeholder,
// input:-moz-placeholder {
//   font-family: Roboto;
//   color: $shady;
// }


//
// Links
// --------------------------------------------------
// .link {
//   border-bottom: 1px solid $linkColor;
//   color: inherit;
//   &:hover { color: $linkColor; }
// }

// @include media-breakpoint-down(xs) {
//   .link { color: inherit; }
// }


//
// Font Size Increases
// --------------------------------------------------

// .f-lg  {
//   font-size: 1.25rem;
//   line-height: 1.44;
// }

// @mixin f-lg {
//   font-size: 1.25rem;
//   line-height: 1.44;
// }

.f-sm  {
  font-family: 'WeblySleek UI Semilight';
  font-size: .875rem;
  line-height: 1.25;
}

@mixin f-sm {
  font-family: 'WeblySleek UI Semilight';
  font-size: .875rem;
  line-height: 1.25;
}

// .f-xs {
//   font-size: .75rem;
//   line-height: 1.33;
// }

// @mixin f-xs {
//   font-size: .75rem;
//   line-height: 1.33;
// }

// small {	@extend .f-xs; }



//
// Headings
// --------------------------------------------------
h1, .h1 {
  color: #1a5336;
  font-size: 1.625rem;
  font-family: 'Graphik-Light';
	font-weight: 600;
  line-height: 2.25;
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
    line-height: 38px;
  }
}

h2, .h2 {
  color: #1a5336;
  font-size: 1.4375rem;
  font-family: 'Graphik-Light';
  font-weight: 600;
  line-height: 2.125rem;
  margin-bottom: 0;
}

h3, .h3 {
  color: #1c1c1c;
  font-size: 1.125rem;
  font-family: 'WeblySleek UI Semilight';
  font-weight: 600;
  line-height: 1.75;
  margin-bottom: 0;
}

// h4, .h4 {
//   color: #1a5336;
//   font-family: Roboto;
//   font-size: 1rem;
//   font-weight: bold;
//   line-height: 1.19;
//   margin-bottom: 0;
// }

// h5, .h5 {
//   color: #1a5336;
//   font-family: Roboto;
//   font-size: .875rem;
//   font-weight: bold;
//   line-height: 1.14;
//   letter-spacing: -0.00625rem;
//   margin-bottom: 0;
// }

// h6, .h6 {
//   color: #1a5336;
//   font-family: Roboto;
//   font-size: .875rem;
//   font-weight: 500;
//   line-height: 1.14;
//   margin-bottom: 0;
// }


// //
// // Emphisis
// // --------------------------------------------------

// .disclaimer-text {
// 	@extend .f-xs;
// 	color: $light-dove-gray;
// }

// .bold { font-weight: bold; }
// .semibold {
//   font-weight: 500;
//   color: $warm-grey;
// }

// @mixin semibold {
//   font-weight: 500;
//   color: $warm-grey;
// }

// .emphasis {
//   font-family: 'Open Sans', sans-serif;
//   font-size: 1rem;
//   font-weight: 600;
//   color: $tundora;
// }

//
// Brand
// --------------------------------------------------

// .brand {
//   font-family: 'Open Sans', sans-serif;
//   font-size: 1rem;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   color: $tundora;

//   &--lg {
//     color: $gun-metal;
//     font-size: 1.125rem;
//     line-height: 1.44;
//     letter-spacing: -0.2px;
//   }

//   &--sm {
//     color: $brownish-grey;
//     font-size: 0.875rem;
//     line-height: normal;
//     letter-spacing: normal;
//   }
// }

// //
// // Time Stamp
// // --------------------------------------------------
// .time-stamp {
//   font-family: Roboto;
//   font-size: 0.875rem;

//   &--sm {
//     font-size: 0.75rem;
//   }

//   &--primary { color: $cornflower-blue; }
//   &--secondary { color: $brownish-grey; }
// }

// Small Text
// Note: ToDo rename this style
// --------------------------------------------------
// .small-text-label-bold {
// 	color: $warm-grey;
// 	font-family: Roboto;
// 	font-size: 0.875rem;
// 	font-weight: bold;
// 	line-height: normal;
// 	letter-spacing: -0.1px;
// }
